/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #4a90e2; /* Azul */
  padding: 30px 20px;
  color: white;
  border-radius: 8px;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

.content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-message h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 1.2rem;
  color: #666;
}

.login-form {
  margin-top: 30px;
}

.login-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 15px;
  background-color: #ffa726; /* Laranja */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #fb8c00; /* Tom de laranja mais escuro */
}

.activities {
  margin-top: 40px;
}

.activity-btn {
  padding: 15px 25px;
  background-color: #4177b7; /* Azul mais escuro */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 10px;
}

.activity-btn:hover {
  background-color: #365e8f; /* Azul ainda mais escuro */
}

footer {
  margin-top: 50px;
  font-size: 1rem;
  color: #333;
}

footer a {
  color: #4a90e2; /* Azul claro */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
